.box-notas .input._1 {
    background-color: red;
}

.box-notas .input._2 {
    background-color: yellow;
}

.box-notas .input._3 {
    background-color: deeppink;
}

.box-notas .input._4 {
    background-color: purple;
}