.form-wrapper {
    margin: 0 0 15px;
}

.form-wraper .notas {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-top: 25px;
}

.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    color: black;
}
  
.form-wrapper button {
    border: 0;
    color: whitesmoke;
    background: #000;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.form-wrapper button:hover {
    opacity: 0.8;
}
  
.form-wrapper .answer {
    padding: 15px 20px;
}
  