.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.form-wrapper .semester {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin: 15px auto 15px;
}

.form-wrapper .position-icon {
    display: flex;
    align-items: flex-end;
}

.form-wrapper .icon {
    width: 70px;
    height: 70px;
}


  

  